@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;

}

h1,
h2,
h3,
h4,
span,
a {
    font-family: 'Poppins', sans-serif;
}

.navegador {
    display: flex;
    position: fixed;
    align-items: center;
    /*y*/
    justify-content: center;
    /*x*/
    flex-flow: row wrap;
    width: 100%;
    padding-top: 1%;
    background: white;
    height: 100px;
    z-index: 2;
}

.logotipo {
    flex: 10%;
    margin-left: 10%;    

}



.menu {
    flex: 80%;
    text-align: right;

}

.menu a {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: 1px slid black;

}

.menu #btnBaixarcv {
    margin-right: 15%;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.7s linear;

}

.menu a:hover {
    border-bottom: 3px solid black;
}


.menu #btnBaixarcv:hover {
    background: white;
    border: 3px solid black;
    color: black;


}


.sm {

    display: flex;
    margin-left: 5px;
    margin-top: 5%;


}

.sm a {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: #000;
    border-radius: 10px;
    transition: 0.7s;
    text-decoration: none;
    word-spacing: 2px;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
    border: 1px solid black;
    background: white;


}

.texto .sm a:hover {
    background-image: linear-gradient(90deg, white, #c2ccd1, white)
}

.texto .sm #google:hover {
    color: red;
}


.texto .sm #git:hover {
    color: white;
}


.texto .sm #whatsapp:hover {
    color: green;
}

.btnContacto {
    max-width: 150px;
    display: block;
    margin-top: 12%;
    margin-left: 25px;

}

.btnContacto a {
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.7s linear;
}

.btnContacto a:hover {
    text-align: center;
    border: 2px solid black;
    color: white;
    background-image: linear-gradient(90deg, white, #c2ccd1, #c2ccd1, white)

}


.inicio {
    /* margin-top: 65px; */
    margin-top: 100px;
    
}

.cabecalho {
    display: flex;

}

.cabecalho .background .img {
    flex: 30%;
    position: relative;
    z-index: -1;

}

.cabecalho .background .img img {
    width: 70%;
    float: right;
    min-width: 600px;
    min-height: 555px;

}

.cabecalho .background .texto {
    position: absolute;
    top: 35%;
    left: 10%;
    user-select: none;

}


.nome h3 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
    user-select: auto;


}

.nome .apelido {
    -webkit-text-stroke: 3px #000;
    color: transparent;
}

.ocupacao h4 {
    font-weight: 600;
    font-style: italic;
    color: #767676;
    line-height: 0;
}

.seccao1 {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    
}

.sobre-cima {

    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda {
    flex: 20%;
    margin-left: 10%;
    margin-right: 5%;

}


.sobre-cima .esquerda img {
    height: 400px;
    width: 250px;
}

.sobre-cima .esquerda img {
    height: 400px;
    min-width: 150px;
    border: 10px groove #c2ccd1;

}

.direita {
    position: relative;
    flex: 55%;
    margin-right: 10%;
    width: 100%;
}


.direita .nome {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 30px;
    margin-bottom: 32px;

}

.nome h4 {
    position: relative;
    font-size: 32px;
    font-weight: 900;
    flex-wrap: nowrap;
    /* line-height: 0;  */
}


.direita .nome h4 .bg {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    font-size: 150px;
    opacity: 0.1;
    line-height: 0;
    -webkit-text-stroke: 2px #000;
    user-select: none;

}

.nome .profissao {
    position: absolute;
    top: 130px;

    display: inline-block;
    font-weight: 600;
    font-style: italic;
    color: #767676;
    margin-top: 0;

}

.sobre-cima .direita .texto p {
    width: 100%;
    margin-bottom: 13px;
    font-style: italic;
    /* color: #767676; */

}

.sobre-cima .esquerda .citacao{
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 13px;
    color: #000;
}

.sobre-cima .direita .btnSobre a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15%;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 1%;
    transition: 0.9s linear;
    font-style: italic;
    border: 2px solid rgba(0, 0, 0, .1);
}

.sobre-cima .direita .btnSobre a:hover {
    padding: 10px 20px;
    border: 2px solid black;
    background: #c2ccd1;
}


.sobre-baixo {
    margin: 10%;
    margin-top: 100px;
    flex: 100%;

}

.sobre-baixo .detalhes .detalhes-card {
    display: inline-block;
    width: 30%;
}

#c3 {
    float: right;
    margin: 0;
}

#c2 {
    margin-left: 5%;
    margin-right: 4%;
}

.detalhes-card .detalhes-texto {
 
    display: inline-block;
    width: 75%;
    float: right;
}

.detalhes-card .detalhes-texto h4 {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    hyphens: auto;
}

.detalhes-card .detalhes-texto p {
    color: #767676;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .2px;
    font-weight: 400;


}

.detalhes-card .detalhes-ico {

    display: inline-block;
    width: 20%;
    padding-top: 20%;
}

.detalhes-card .detalhes-ico img {
    width: 100%;
    float: left;
}


.projectos{
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
 
}

.projectos .projectos-cima .projectos-texto h4{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
 
}

.projectos .projectos-cima .projectos-texto h4 .bg{
    font-size: 150px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    position: absolute;
    top: 0px;
    left: -7px;
    opacity: 0.1;
    line-height: 0;
    text-transform: uppercase;
}

.projectos-baixo{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    padding-bottom: 10%;

}

.projectos-card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
    margin-top: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
 
}

.projectos-baixo #ca2{
    margin-left: 5%;
    margin-right: 5%;
    
}


.projectos-card .projectos-card-img{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.projectos-card .projectos-card-img img{
    width: 100%;
    height: 30vh;
    vertical-align: middle;
   
}

.projectos-card .projectos-card-img img:hover{
    vertical-align: middle;
    width: 100%;
    
}


.projectos-card .projectos-card-texto{

    width: 100%;
    padding: 5%;
}


.projectos-card .projectos-card-texto .descricao h4{

    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 10%;
    margin-top: 20%;

}

.projectos-card .projectos-card-texto .descricao{
    position: relative;
}

.projectos-card .projectos-card-texto .descricao h4 .by{
    position: absolute;
    top: -50%;
    left: 0;
    display: inline-block;
    font-weight: 400;
    font-style: italic;
    color: #767676;
    margin-top: 0;
    font-size: 13px;
    word-wrap: break-word;

}

footer{
    background-color: #000;
    color: white;
    position: absolute;
    padding: 20px 0;
    width: 100%;
    
}

.rodape-container{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;

    
}

.rodape .r-detalhes{
    height: 130px;
    flex: 100%;
    margin-left: 10%;
    margin-right: 10%;    
}

.r-detalhes-card{
    display: inline-block;
    width: 24%;
    word-wrap: break-word;
    vertical-align: top;    
    
}

.r-detalhes #r-card1{
    float: left;

}

.r-detalhes #especial{
float: right;
}

.r-detalhes #especial a{
    color: white;
    text-decoration: none;
    word-spacing: 2px;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
}

.r-detalhes #especial p{
    text-align: right;
}

.r-detalhes-card p{
    text-align: left;
}

.seccao3{
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    

}

.seccao3 form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    flex-flow: column nowrap;
}

.seccao3 form input[type="text"], .seccao3 form input[type="email"]{
    font-style: italic;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    
}
.seccao3 form textarea{
    font-style: italic;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    width: 100%;
    
}

.seccao3 form button{
    font-style: italic;
    background: #000;
    color: #c2ccd1;
    padding: 10px;
    border: solid 1px white;
    margin: 3%;
    
    
}

.seccao3 form button:hover{
    opacity: 0.9;

}



@media screen and (min-width: 576px) and (max-width: 768px){
    
    .navegador{
        align-items: flex-start;

    }


    .cabecalho{
        width: 96vw;
        

    }
    .cabecalho {
        display: flex;
    
    }
    
    .cabecalho .background .img {
        flex: 30%;
        position: relative;
        z-index: -1;
    
    }
    
    .cabecalho .background .img img {
        width: 70%;
        float: right;
        min-width: 94vw;
        min-height: 88vh;
        margin: 0% 0% 0% 3%;
        /* border: solid 2px red; */
    
    }
    
    
    
    .nome h3 {
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 2px;
    }

    .logotipo{
        border: solid 1px red;

    }

    .menu {
        flex: 75%;
        text-align: center;
        border: solid 1px red;
        padding: 0px;
    
    }

    .menu a {
        padding: 5px;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        width: 100%;
    
    }
    
    .menu #btnBaixarcv {
       
        color: white;
        background-color: black;
        text-decoration: none;
        
        transition: 0.7s linear;
    
    }
    
    .menu a:hover {
        border-bottom: 3px solid black;
    }

    .menu #btnBaixarcv{
        border: none;
        border-radius: 0px;
    
    }
    
    
    .menu #btnBaixarcv:hover {
        background: white;
        border-bottom: solid 3px black;
        color: black;
        padding: 2px;


    
    }



    /**/
    
    
    
.bar {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .mudar .bar1 {
    transform: translate(0, -1px) rotate(-45deg);
  
  }
  
  .mudar .bar2 {opacity: 0;}
  
  .mudar .bars{
    padding: 20px;
    
  }


  .mudar .bar3 {
    transform: translate(0, -19px) rotate(45deg);
  }

  .mudar .dropdown-content{
    display: block;
    background: white;
    
  }


  .bar{
    display: block;
  }

.menu{
  cursor: pointer;
  
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: end;
    
}


.menu span,.dropdown-content{
  margin-top: 2px;
  
}
  .dropdown-content{
    display: none;

  }

  .dropdown-content a{
    display: block;
    text-decoration: none;
    margin-top: 2px;

  }

    
    /**/

    .bg{
        display: none;
    }
    
    
    
}  


@media screen and (max-width: 576px){
    .navegador{
        align-items: flex-start;
        
    }


    .menu{
        flex:0;
    }


    .menu a {
        padding: 5px;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        width: 100%;
    
    }
    
    .menu #btnBaixarcv {
       
        color: white;
        background-color: black;
        text-decoration: none;
        
        transition: 0.7s linear;
    
    }
    
    .menu a:hover {
        border-bottom: 3px solid black;
    }

    .menu #btnBaixarcv{
        border: none;
        border-radius: 0px;
    
    }
    
    
    .menu #btnBaixarcv:hover {
        background: white;
        border-bottom: solid 3px black;
        color: black;
        padding: 2px;

    }




    .bar {
        width: 35px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;        
        display: block;
      }
      
      .mudar .bar1 {
        transform: translate(0, -1px) rotate(-45deg);
      
      }
      
      .mudar .bar2 {opacity: 0;}
      
      .mudar .bars{
        padding: 20px;
        
      }
    
    
      .mudar .bar3 {
        transform: translate(0, -19px) rotate(45deg);
      }
    
      .mudar .dropdown-content{
        display: block;
        background: white;
        
      }
     
    
    .menu{
      cursor: pointer;
      
      width: 98vw;
      display: flex;
      flex-direction: column;
      align-items: end;
        
    }
    
    
    .menu span,.dropdown-content{
      margin-top: 2px;
      
    }


      .dropdown-content{
        display: none;
    
      }
    
      .dropdown-content a{
        display: block;
        text-decoration: none;
        margin-top: 2px;
    
      }


      .nome h3 {
        font-size: 40px;
        font-weight: 909;
        letter-spacing: 1px;
    }

    .btnContacto {
        display: none;

    }

    
    .nome .apelido {
        -webkit-text-stroke: 3px #000;
        color: transparent;
        margin-top: 30px;
    }

    .ocupacao{
        display: inline-block;
        word-wrap: break-word;
        margin-top: 185px;
    }
    
    .ocupacao h4 {
        display: inline-block;
        font-weight: 600;
        font-style: italic;
        color: #767676;
        line-height: 0;
        margin-bottom: 1%;

    }

    .cabecalho .background .img img {
        width: 70%;
        float: right;
        min-width: 485px;
        min-height: 555px;
    
    }

    .sm{
        text-align: center;
        width: 96%;
        display: block;
        margin-top: 0px;
    }
    

    .bg{
        display: none;
    }


    .sobre-cima{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-cima .direita{
        display: block;
        width: 80vw;
        margin-left: 10%;
        margin-right: 10%;

    }

    .sobre-cima .direita .nome{
        text-align: center;
 
    }


    .sobre-baixo .detalhes {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .detalhes-card{
        width: 90vw;
    }

    .sobre-baixo .detalhes .detalhes-card {
        display: inline-block;
        width: 90vw;
        
    }

    .projectos-card{
        min-width: 60vw;
        justify-content: center;
        align-items: center;
    }


    .projectos-baixo{
        flex-direction: column;
        max-width: 80vw;

    }

    .projectos-texto{
        text-align: center;
    }


}

