@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;

}

h1,
h2,
h3,
h4,
span,
a {
    font-family: 'Poppins', sans-serif;
}

.navegador {
    display: flex;
    position: fixed;
    align-items: center;
    /*y*/
    justify-content: center;
    /*x*/
    flex-flow: row wrap;
    width: 100%;
    padding-top: 1%;
    background: white;
    height: 100px;
    z-index: 2;
}

.logotipo {
    flex: 10%;
    text-align: left;
    margin-left: 10%;

}



.menu {
    flex: 80%;
    text-align: right;

}

.menu a {
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    border: 1px slid black;

}

.menu #btnBaixarcv {
    margin-right: 15%;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 7px;
    transition: 0.7s linear;

}

.menu a:hover {
    border-bottom: 3px solid black;
}


.menu #btnBaixarcv:hover {
    background: white;
    border: 3px solid black;
    color: black;


}

.sm {

    display: flex;
    margin-left: 5px;
    margin-top: 5%;


}

.sm a {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    color: #000;
    border-radius: 10px;
    transition: 0.7s;
    text-decoration: none;
    word-spacing: 2px;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
    border: 1px solid black;
    background: white;


}

.texto .sm a:hover {
    background-image: linear-gradient(90deg, white, #c2ccd1, white)
}

.texto .sm #google:hover {
    color: red;
}


.texto .sm #git:hover {
    color: white;
}


.texto .sm #whatsapp:hover {
    color: green;
}

.btnContacto {
    max-width: 150px;
    display: block;
    margin-top: 12%;
    margin-left: 25px;

}

.btnContacto a {
    border: 2px solid black;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.7s linear;
}

.btnContacto a:hover {
    text-align: center;
    border: 2px solid black;
    color: white;
    background-image: linear-gradient(90deg, white, #c2ccd1, #c2ccd1, white)

}


.inicio {
    /* margin-top: 65px; */
    margin-top: 100px;
}

.cabecalho {
    display: flex;

}

.cabecalho .background .img {
    flex: 30%;
    position: relative;
    z-index: -1;

}

.cabecalho .background .img img {
    width: 70%;
    float: right;
    min-width: 600px;
    min-height: 555px;

}

.cabecalho .background .texto {
    position: absolute;
    top: 35%;
    left: 10%;

}


.nome h3 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
    user-select: auto;


}

.nome .apelido {
    -webkit-text-stroke: 3px #000;
    color: transparent;
}

.ocupacao h4 {
    font-weight: 600;
    font-style: italic;
    color: #767676;
    line-height: 0;
}

.seccao1 {

    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    

}

.sobre-cima {

    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda {
    flex: 20%;
    margin-left: 10%;
    margin-right: 5%;

}


.sobre-cima .esquerda img {
    height: 400px;
    width: 250px;
}

.sobre-cima .esquerda img {
    height: 400px;
    min-width: 150px;
    border: 10px groove #c2ccd1;

}

.direita {
    position: relative;
    flex: 55%;
    margin-right: 10%;
    width: 100%;
}


.direita .nome {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 30px;
    margin-bottom: 32px;

}

.nome h4 {
    position: relative;
    font-size: 32px;
    font-weight: 900;
    flex-wrap: nowrap;
    /* line-height: 0;  */
}


.direita .nome h4 .bg {
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    font-size: 150px;
    opacity: 0.1;
    line-height: 0;
    -webkit-text-stroke: 2px #000;
    user-select: none;

}

.nome .profissao {
    position: absolute;
    top: 130px;

    display: inline-block;
    font-weight: 600;
    font-style: italic;
    color: #767676;
    margin-top: 0;

}

.sobre-cima .direita .texto p {
    width: 100%;
    margin-bottom: 13px;
    font-style: italic;
    /* color: #767676; */

}

.sobre-cima .direita .btnSobre a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15%;
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 1%;
    transition: 0.9s linear;
    font-style: italic;
    border: 2px solid rgba(0, 0, 0, .1);
}

.sobre-cima .direita .btnSobre a:hover {
    padding: 10px 20px;
    border: 2px solid black;
    background: #c2ccd1;
}


.sobre-baixo {
    margin: 10%;
    margin-top: 100px;
    flex: 100%;

}

.sobre-baixo .detalhes .detalhes-card {
    display: inline-block;
    width: 30%;
}

#c3 {
    float: right;
    margin: 0;
}

#c2 {
    margin-left: 5%;
    margin-right: 4%;
}

.detalhes-card .detalhes-texto {
 
    display: inline-block;
    width: 75%;
    float: right;
}

.detalhes-card .detalhes-texto h4 {
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
    hyphens: auto;
}

.detalhes-card .detalhes-texto p {
    color: #767676;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: .2px;
    font-weight: 400;


}

.detalhes-card .detalhes-ico {

    display: inline-block;
    width: 20%;
    padding-top: 20%;
}

.detalhes-card .detalhes-ico img {
    width: 100%;
    float: left;
}

.seccao2{
    /* background: whitesmoke; */
    padding-top: 10%;
}

.projectos{
    position: relative;
    margin: 10%;
 
}

.projectos .projectos-cima .projectos-texto h4{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
 
}

.projectos .projectos-cima .projectos-texto h4 .bg{
    font-size: 150px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    position: absolute;
    top: 0px;
    left: -7px;
    opacity: 0.1;
    line-height: 0;
    text-transform: uppercase;
}

.projectos-baixo{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    padding-bottom: 10%;

}

.projectos-card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
    margin-top: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
 
}

.projectos-baixo #ca2{
    margin-left: 5%;
    margin-right: 5%;
    
}


.projectos-card .projectos-card-img{   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.projectos-card .projectos-card-img img{
    width: 100%;
    height: 30vh;
    vertical-align: middle;
   
}

.projectos-card .projectos-card-img img:hover{
    vertical-align: middle;
    width: 100%;
    
}


.projectos-card .projectos-card-texto{

    width: 100%;
    padding: 5%;
}


.projectos-card .projectos-card-texto .descricao h4{

    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 10%;
    margin-top: 20%;

}

.projectos-card .projectos-card-texto .descricao{
    position: relative;
}

.projectos-card .projectos-card-texto .descricao h4 .by{
    position: absolute;
    top: -50%;
    left: 0;
    display: inline-block;
    font-weight: 400;
    font-style: italic;
    color: #767676;
    margin-top: 0;
    font-size: 13px;
    word-wrap: break-word;

}

.rodape{
    width: 100%;
    height: 200px;
    background: #000;
    color: white;
    text-align: center;
    
}

.rodape .r-detalhes{
    height: 130px;
    flex: 100%;
    margin-left: 10%;
    margin-right: 10%;    
}

.r-detalhes-card{
    display: inline-block;
    width: 24%;
    word-wrap: break-word;
    vertical-align: top;    
    
}

.r-detalhes #r-card1{
    float: left;

}

.r-detalhes #especial{
float: right;
}

.r-detalhes #especial a{
    color: white;
    text-decoration: none;
    word-spacing: 2px;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
}

.r-detalhes #especial p{
    text-align: right;
}

.r-detalhes-card p{
    text-align: left;
}





